#=============#
# CHEMINOT #
#=============#

node_modules
project/www/css
project/www/js
project/www/index.html
project/target
src/ts/**/*.js
app/platforms/browser
app/platforms/android
!app/platforms/android/AndroidManifest.xml
app/plugins
project/src/ts/.gulp*
generated
misc/splashscreen
apk
*.log
app/www
#=============#
# IOS / XCODE #
#=============#

*.mobileprovision

#=============#
#     MISC    #
#=============#

private.json