#=============#
# CHEMINOT #
#=============#

node_modules
project/www/css
project/www/js
project/www/index.html
src/ts/**/*.js
*.log
app/platforms
app/plugins/*.json
images/
src/ts/.gulp*
generated
#=============#
# IOS / XCODE #
#=============#

*.mobileprovision

#=============#
#     MISC    #
#=============#

private.json