#=============#
# CHEMINOT #
#=============#

node_modules
project/www/css
project/www/js
project/www/index.html
project/target
src/ts/**/*.js
project/src/ts/.gulp*
generated
misc/splashscreen
apk
*.log
*.gz
app
#=============#
# IOS / XCODE #
#=============#

*.mobileprovision

#=============#
#     MISC    #
#=============#

private.json