@import 'colors';
@import 'icons';

clear-button() {
    margin: 0
    padding: 0
    border: none
    background: transparent
    outline: none
    cursor: pointer
}

reset_button(color=grey-light, s=null) {
    clear-button()
    icon_cheminot('cross', color, s)
    width: size(24px);
}

backward_button(color=white, size=null) {
    clear-button()
    icon_cheminot('left', color, size)
}

up_button(color=white, size=null) {
    clear-button()
    icon_cheminot('up', color, size)
}

down_button(color=white, size=null) {
    clear-button()
    icon_cheminot('down', color, size)
}

forward_button(color=grey, size=null) {
    clear-button()
    icon_cheminot('right', color, size)
}
