@import 'colors';
@import 'icons';

clear-button() {
    margin: 0
    padding: 0
    border: none
    background: transparent
    outline: none
}

reset_button() {
    clear-button()
    icon_cheminot('cross', grey-light)
}

backward_button() {
    clear-button()
    icon_cheminot('left', white)
}

up_button(color = white) {
    clear-button()
    icon_cheminot('up', color)
}

down_button(color = white) {
    clear-button()
    icon_cheminot('down', color)
}

forward_button(enabled) {
    clear-button()

    if enabled {
        icon_cheminot('right', blue, 180deg)
    }

    if (!enabled) {
        icon_cheminot('right', grey-light, 180deg)
    }
}
