#departures {

    .empty-loading {
        z-index: 1
        position: absolute
        top: 15vh
        color: blue
        text-align: center
        width: 100%

        .train {
            opacity: 0
            transition: 0.2s
            display: inline-block
            height: 40vh

            &.fade-in {
                opacity: 1
            }
        }

        .label {
            margin-top: 30px
            position: relative
            display: inline-block
            line-height: 1.2
        }
    }

    #wrapper {
        background: grey-blue
        position: absolute
        width: 100%
        overflow: hidden
        bottom: 0

        /* PULL AND REFRESH */
        &.loading {
            background: green
            border-bottom-color: green

            .pull-up {
                color: white
            }
        }

        &.flip:not(.loading) {
            background: blue
            border-bottom-color: blue

            .pull-up {
                color: white
            }
        }

        #scroller {
            position: absolute
            width: 100%
        }

        ul {
            position: relative
            z-index: 2

            > li {
                border-bottom: 2px solid grey-blue
                box-sizing: border-box
                color: dark-blue
                background: #FFF
                transform: translate3d(0,0,0)

                .wrapper {
                    margin: auto
                }

                &.fake {
                    visibility: hidden
                }

                &.day {
                    padding: 4%
                    text-align: center
                    background: grey-blue
                    color: dark-blue
                }

                .meta {
                    position: relative

                    .changements {
                        color: grey-light
                        icon_cheminot('split', grey-light)
                    }

                    .duration {
                        display: inline-block
                        right: 0
                        position: absolute

                        .egg-timer {
                            vertical-align: -2px
                            icon_cheminot('duration', grey-light)
                        }

                        .value {
                        }
                    }
                }

                .start-end {
                    position: relative

                    .start {
                        display: inline-block
                        padding-left: 5%
                    }
                }

                .alarm-clock {
                    min-width: 25px
                    display: inline-block
                    icon_cheminot('clock', grey-light)
                }

                .to {
                    icon_cheminot('right', blue)
                    margin: 0 5px 0 5px
                    vertical-align: 2px
                }
            }

            .pull-up {
                text-align: center
                background: transparent
                border-bottom: none
            }
        }
    }
}
