scale(value, factor) {
    value * factor
}

header_height=54px
header_size=20px
header_label_size=16px
top_bar_height=64px
top_bar_size=18px
item_height=66px
item_size=18px
input_height=66px
input_size=18px
btn_size=22px

modal_width=258px
modal_title_padding=10px
modal_title_size=20px
modal_button_size=14px
modal_control_height=26px
modal_control_value_height=26px
modal_control_value_size=18px
modal_control_button_size=50px

departures_wrapper_width=400px
departures_pullup_padding=14px
departures_pullup_size=18px
departures_loading_size=18px
departures_longtrip_width=230px
departures_item_padding=14px
departures_item_meta_size=18px
departures_item_meta_padding=10px
departures_item_startend_size=32px
departures_item_startend_padding=8px
departures_item_start_width=140px
departures_item_clock_size=23px
departures_item_to_size=21px

trip_span_size=16px
trip_item_height=66px
trip_line_width=4px
trip_line_size=21.2px
trip_clock_size=12px

device(min_width, max_width, factor) {
    portrait = "only screen and (min-device-width : " + min_width + ") and (max-device-width : " + max_width + ")"
    @media portrait {
        .modal {
            width: scale(modal_width, factor)

            .title {
                padding: scale(modal_title_padding, factor)
                font-size: scale(modal_title_size, factor)
            }

            .actions button {
                font-size: scale(modal_button_size, factor)
            }
        }

        .date-picker, .time-picker {
            .controls .value {
                height: scale(modal_control_value_height, factor)
                line-height: scale(modal_control_value_height, factor)
                font-size: scale(modal_control_value_size, factor)
            }

            .up button, .down button {
                font-size: scale(modal_control_button_size, factor)
            }
        }

        header {
            height: scale(header_height, factor)
            font-size: scale(header_size, factor)
        }

        .top-bar {
            height: scale(top_bar_height, factor)
            font-size: scale(top_bar_size, factor)
            .label {
                font-size: scale(header_label_size, factor)
            }
        }

        .list li {
            height: scale(item_height, factor)
            font-size: scale(item_size, factor)
        }

        input[type=text] {
            height: scale(input_height, factor)
            font-size: scale(input_size, factor)
        }

        .font:before {
            font-size: scale(btn_size, factor)
        }

        .back-btn {
            font-size: scale(btn_size, factor)
        }

        button.reset {
            width: scale(btn_size, factor)
        }

        #departures {
            .empty-loading .label {
                width: scale(departures_longtrip_width, factor)
            }
            .wrapper {
                max-width: departures_wrapper_width
            }
            li {
                &:not(.pull-up) {
                    padding: 0 scale(departures_item_padding, factor) 0 scale(departures_item_padding, factor)
                }
                &.pull-up, &.day {
                    padding: scale(departures_pullup_padding, factor) 0 scale(departures_pullup_padding, factor) 0
                    font-size: scale(departures_pullup_size, factor)
                }
                .meta {
                    font-size: scale(departures_item_meta_size, factor)
                    padding: scale(departures_item_meta_padding, factor) 0 scale(departures_item_meta_padding, factor) 0
                }
                .start-end {
                    font-size: scale(departures_item_startend_size, factor)
                    padding: 0 0 scale(departures_item_startend_padding, factor) 0
                }
                .alarm-clock:before {
                    font-size: scale(departures_item_clock_size, factor)
                }
                .to {
                    font-size: scale(departures_item_to_size, factor)
                }
                .start {
                    width: scale(departures_item_start_width, factor)
                }
            }
            .empty-loading {
                font-size: scale(departures_loading_size, factor)
            }
        }

        #trip .stops li {
            height: scale(trip_item_height, factor)
            font-size: scale(trip_span_size, factor)

            .alarm-clock::before {
                font-size: scale(trip_clock_size, factor)
            }

            .right {
                border-left: scale(trip_line_width, factor) solid dark-blue
                &::before {
                    font-size: scale(trip_line_size, factor)
                }
            }
        }
    }
}


// IPHONE 5 (default)
@media only screen {
    .modal {
        width: modal_width

        .title {
            padding: modal_title_padding
            font-size: modal_title_size
        }

        .actions button {
            font-size: modal_button_size
        }
    }

    .date-picker, .time-picker {
        .controls value {
            height: modal_control_value_height
            line-height: modal_control_value_height
            font-size: modal_control_value_size
        }

        .up button, .down button {
            font-size: modal_control_button_size
        }
    }

    header {
        height: header_height
        font-size: header_size
    }

    .top-bar {
        height: header_height
        font-size: top_bar_size
        .label {
            font-size: header_label_size
        }
    }

    .list li {
        height: item_height
        font-size: item_size
    }

    input[type=text] {
        height: input_height
        font-size: input_size
    }

    button.reset {
        width: btn_size
    }

    .font:before {
        font-size: btn_size
    }

    .back-btn {
        font-size: btn_size
    }

    #departures {
        .empty-loading .label {
            width: departures_longtrip_width
        }
        .wrapper {
            max-width: departures_wrapper_width
        }
        li {
            &:not(.pull-up) {
                padding: 0 departures_item_padding 0 departures_item_padding
            }
            &.pull-up, &.day {
                padding: departures_pullup_padding 0 departures_pullup_padding 0
                font-size: departures_pullup_size
            }
            .meta {
                font-size: departures_item_meta_size
                padding: departures_item_meta_padding 0 departures_item_meta_padding 0
            }
            .start-end {
                padding: 0 0 departures_item_startend_padding 0
                font-size: departures_item_startend_size
            }
            .alarm-clock:before {
                font-size: departures_item_clock_size
            }
            .to {
                font-size: departures_item_to_size
            }
            .start {
                width: departures_item_start_width
            }
        }
        .empty-loading {
            font-size: departures_loading_size
        }
    }

    #trip .stops li {
        height: trip_item_height
        font-size: trip_span_size

        .alarm-clock::before {
            font-size: trip_clock_size
        }

        .right {
            border-left: trip_line_width solid dark-blue
            &::before {
                font-size: trip_line_size
            }
        }
    }
}

// IPAD
device(768px, 1024px, 2)

// NEXUS 10
device(800px, 1280px, 1.3)

// NEXUS 5
device(360px, 640px, 1.125)
