scale(value, factor) {
    value * factor
}

device(min_width, max_width, factor) {

    portrait = "only screen and (min-device-width : " + min_width + ") and (max-device-width : " + max_width + ")"

    @media portrait {

    }
}


// IPHONE 5 (default)
@media only screen {

}

// IPAD
device(768px, 1024px, 2)

// NEXUS 10
device(800px, 1280px, 1.3)

// NEXUS 5
device(360px, 640px, 1.125)
