@font-face {
    font-family: 'Fontello'
    src: url('../fonts/fontello/fontello.woff') format('woff')
    font-weight: normal
    font-style: normal
}

@font-face {
    font-family: 'Batch'
    src: url('../fonts/batch/batch.woff') format('woff')
    font-weight: normal
    font-style: normal
}

@font-face {
    font-family: 'Monstr'
    src: url('../fonts/iconmonstr/iconmonstr.woff') format('woff')
    font-weight: normal
    font-style: normal
}

@font-face {
    font-family: 'Cheminot'
    src: url('../fonts/cheminot/cheminot.woff') format('woff')
    font-weight: normal
    font-style: normal
}

@font-face {
    font-family: 'Nunito-Light'
    src: url('../fonts/nunito/Nunito-Light.woff') format('woff'),
    url('../fonts/nunito/Nunito-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Nunito-Regular'
    src: url('../fonts/nunito/Nunito-Regular.woff') format('woff'),
    url('../fonts/nunito/Nunito-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Nunito-Bold'
    src: url('../fonts/nunito/Nunito-Bold.woff') format('woff'),
    url('../fonts/nunito/Nunito-Bold.ttf') format('truetype')
}

font-family-light() {
    font-family: "Nunito-Light"
}

font-family-regular() {
    font-family: "Nunito-Regular"
}

font-family-bold() {
    font-family: "Nunito-Bold"
}
