header_height=size(54px)

#header {
    position: relative
    z-index: 2
    background: blue
    color: #FFF
    box-sizing: border-box
    transition: .2s
    transition-property: height
    height: size(54px)
    font-size: size(20px)

    &.fold {
        height: 0
        padding: 0
    }

    h1 {
        position: relative
        top: 50%
        transform: translateY(-50%)
        text-align: center
    }

    .back-btn {
        display: none
        backward_button()
        padding: 2%
        width: size(24px);
    }

    .stars {
        position: absolute
        right: 6%
        top: 50%
        transform: translateY(-50%)
        font-size: size(24px)
        clear-button()
        icon_cheminot('heart-empty', #FFF)

        &.starred {
            icon_cheminot('heart', #FFF)
        }
    }

    .home {
        position: absolute
        left: 6%
        top: 50%
        transform: translateY(-50%)
        font-size: size(20px)
        clear-button()
        icon_cheminot('home', #FFF)
    }

    .search {
        position: absolute
        right: 6%
        top: 50%
        transform: translateY(-50%)
        font-size: size(20px)
        clear-button()
        icon_cheminot('search', #FFF)
    }
}

.top-bar {
    background: dark-blue
    color: #FFF
    height: header_height
    font-size: size(18px)

    .label {
        font-size: size(16px)
    }
}
