header_height=size(54px)

body.ready #header {
    z-index: 2
}

#header {
    position: relative
    background: blue
    color: #FFF
    box-sizing: border-box
    transition: .2s
    transition-property: height
    height: size(54px)
    font-size: size(20px)

    &.fold {
        height: 0
        padding: 0
    }

    h1 {
        position: relative
        top: 50%
        transform: translateY(-50%)
        text-align: center
    }

    .stars, .search {
        position: absolute
        right: 4%
        top: 50%
        transform: translateY(-50%)

        i {
            font-size: size(10px)
        }
    }
}

.top-bar {
    background: dark-blue
    color: #FFF
    height: header_height
    font-size: size(18px)

    .label {
        font-size: size(16px)
    }
}
