@import 'colors';

@-webkit-keyframes rotate-outer {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(1080deg)
    }
}

@-webkit-keyframes rotate-inner {
    0% {
        -webkit-transform: rotate(720deg)
    }
    100% {
        -webkit-transform: rotate(0deg)
    }
}

body.loading header .holo {
    display: block
}

header {
    .holo {
        display: none
        position: absolute
        width: size(30px)
        height: size(30px)
        right: 6%
        top: 50%
        transform: translateY(-50%)

        &:after {
            content:" "
            margin: 10%
            border-radius: 100%
            background: blue
        }
    }

    .outer, .inner, .holo:after {
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
    }

    .outer, .inner {
        -webkit-animation-duration: 5s
        -webkit-animation-iteration-count: infinite
        -webkit-animation-timing-function: linear
    }

    .outer {
        -webkit-animation-name: rotate-outer
    }
    .inner {
        -webkit-animation-name: rotate-inner
    }

    .outer:before, .inner:before, .outer:after, .inner:after {
        position: absolute
        top: 0
        bottom: 0
        content:" "
    }

    .outer:before, .inner:before {
        left: 0
        right: 50%
        border-radius: size(72px) 0 0 size(72px)
    }

    .outer:after, .inner:after {
        left: 50%
        right: 0
        border-radius: 0 size(72px) size(72px) 0
    }

    .outer:before {
        background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 0.5))
    }

    .outer:after {
        background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 1.0), hsla(0, 0%, 100%, 0.5))
    }

    .inner:before {
        background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 75%, 0.5))
    }

    .inner:after {
        background-image: linear-gradient(to bottom, hsla(0, 0%, 50%, 0.5), hsla(0, 0%, 75%, 0.5))
    }
}
