#viewport {
    width: 100%
    top: 0
    bottom: 0
    position: absolute
}

#home {

    .tabs {

        .hint {
            opacity: 0
        }

        li {
            height: 100%
            color: grey-dark
            line-height: 4
            width: 33.3%
            float: left
            text-align: center
            position: relative

            .label {
                top: 50%
                position: absolute
                transform: translateY(-50%)
                width: 100%
                left: 0
            }

            &.selected {
                color: #FFF

                .hint {
                    opacity: 1
                    transition: 0.4s
                    position: absolute
                    left: 0
                    right: 0
                    bottom: 0
                    background: blue
                    height: size(4px)
                }
            }
        }
    }

    .start-end {
        position: relative
        background: #FFF
        border-top: size(10px) solid grey-blue-light

        form {
            .input {
                position: relative
                z-index: 2
                width: 100%
                border-top: 1px solid grey-blue-light

                &.animating {
                    position: absolute
                    z-index: 1

                    &.above {
                        z-index: 3
                    }
                }

                &:last-child {
                    border-bottom: size(10px) solid grey-blue-light
                }

                .above {
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                }


                button.reset {
                    position: absolute
                    display: none
                    top: 0
                    height: 100%
                    right: size(14px)
                    font-size: size(24px)

                    reset_button()

                    &.focus {
                        display: block
                    }
                }
            }

            .submit {
                display: none
            }
        }
    }

    .stations {

        #wrapper {
            overflow: hidden
            position: absolute
            width: 100%
            bottom: 0

            .suggestions {
                position: absolute
                width: 100%

                li {
                    position: relative
                    height: size(66px)
                    font-size: size(18px)
                    color: grey
                    padding: 0 size(8px)
                    border-bottom: size(2px) solid grey-blue-light
                    box-sizing: border-box
                    width: 100%

                    &.empty {
                        color: orange
                        text-align: center
                    }

                    > div {
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)
                        width: 100%

                        .match {
                            color: dark-blue
                        }
                    }
                }
            }
        }
    }

    .datetime {

        li {
            position: relative
            height: size(66px)
            font-size: size(18px)
            color: grey
            padding: 0 size(8px)
            box-sizing: border-box
            width: 100%

            > div {
                position: absolute
                left: 0
                top: 50%
                transform: translateY(-50%)
                width: 100%
                padding: 0 size(8px)
                box-sizing: border-box
            }
        }

        input[type=date], input[type=time] {
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: 0
            opacity: 0
        }

        .date, .time {
            span {
                display: inline-block
            }

            .label {
                color: dark-blue
            }

            .value {
                position: absolute
                top: 0
                height: 100%
                right: size(14px)
                color: blue
            }
        }

        .date {
            display: none;

            &.other {
                display: flex
            }
        }

        .submit {
            .go {
                position: absolute
                top: 0
                height: 100%
                right: size(14px)
                font-size: size(24px)
            }

            &.disabled .go {
                forward_button(color=grey)
            }

            &.enabled {
                color: blue

                .go {
                    forward_button(color=blue)
                }
            }
        }
    }
}
