icon_cheminot(name, color = black, size = null) {
    &:before {
        font-family: 'Cheminot'
        color: color
        display: inline-block

        if size {
            font-size: size
        }

        if name is 'plus' {
            content: '\F001'
        }

        if name is 'menu' {
            content: '\F002'
        }

        if name is 'circle' {
            content: '\F003'
        }

        if name is 'cross' {
            content: '\F004'
        }

        if name is 'up' {
            content: '\F005'
        }

        if name is 'down' {
            content: '\F006'
        }

        if name is 'left' {
            content: '\F007'
        }

        if name is 'right' {
            content: '\F008'
        }

       if name is 'clock' {
            content: '\F009'
        }

        if name is 'split' {
            content: '\F00A'
        }

        if name is 'time' {
            content: '\F00B'
        }

        if name is 'duration' {
            content: '\F00C'
        }

        if name is 'pin' {
            content: '\F00D'
        }

        if name is 'heart-empty' {
            content: '\F013'
        }

        if name is 'heart' {
            content: '\F014'
        }

        if name is 'search' {
            content: '\F015'
        }

        if name is 'home' {
            content: '\F016'
        }

        if name is 'star' {
            content: '\F017'
        }

        if name is 'stars' {
            content: '\F018'
        }
    }
}
