
/* Layout */

#app .view
  background: white
  bottom: 0
  left: 0
  opacity: 0
  position: absolute
  right: 0
  top: 0
  transform: translate3d(0, 100%, 0)
  transition: transform .3s, opacity .4s cubic-bezier(.32, -.32, 1, 1)

  &.fadein
    opacity: 1
    transform: translate3d(0, 0, 0)

.view#search
  z-index: 3
