@import 'colors';

.modals {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none

    &.fade-in {
        display: flex
        align-items: center
    }

    .modal {
        border-radius: 0.2em
        display: none
        z-index: 4
        background: #FFF
        color: android-blue
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        position: absolute
        width: size(258px)

        .title {
            padding: size(10px)
            font-size: size(20px)
            border-bottom: 1px solid #3CB6E3
            text-align: center
        }

        &.fade-in {
            display: block
        }

        button {
            text-transform: uppercase
            display: inline-block
            border: none
            outline: none
            background: transparent
            padding: 10px
            color: android-green
        }

        .actions {
            border-top: 1px solid rgba(android-green, 0.1)
            padding: 4px 6px 0 6px
            text-align: center

            button {
                font-size: size(14px)
            }

            .ok {
                width: 28%
            }
        }
    }

    .error .body {
        color: orange
    }

    .about {
        table-layout: fixed

        td {
            padding: 6px
        }
    }

    .alert .body {
        padding: 20px
        text-align: center
    }

    .date-picker, .time-picker {
        display: none

        .controls {
            padding: 10px
            text-align: center

            .hour, .minute, .day, .month, .year {
                display: inline-block
                width: 32%

                > * {
                    display: block
                }
            }

            .value {
                display: inline-block
                color: dark-blue
                height: size(26px)
                line-height: size(26px)
                font-size: size(26px)
            }
        }

        .up button {
            up_button(android-blue)
        }

        .down button {
            down_button(android-blue)
        }

        .up button, .down button {
            width: 100%
            font-size: size(50px)

            &::before {
                vertical-align: bottom
            }
        }
    }
}
