.modals {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none

    &.fade-in {
        display: flex
        align-items: center
    }

    .modal {
        border-radius: 0.2em
        display: none
        z-index: 4
        background: #FFF
        color: #3CB6E3
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        position: absolute

        .title {
            border-bottom: 1px solid #3CB6E3
        }

        &.fade-in {
            display: block
        }

        button {
            text-transform: uppercase
            display: inline-block
            border: none
            outline: none
            background: transparent
            padding: 10px
            color: #159588
        }

        .actions {
            padding: 4px 10px 0 10px
            text-align: center
        }
    }

    .settings {
        table-layout: fixed

        button.ok {
            position: absolute
            bottom: 40%
            right: 10%
        }

        td {
            padding: 6px
        }
    }

    .date-picker, .time-picker {
        display: none

        .controls {
            padding: 10px 10px 0px 10px
            text-align: center

            .separator {
                color: #000
                vertical-align: top
                width: 24px
                display: inline-block
            }

            .hour, .minute, .day, .month, .year {
                display: inline-block
                width: 32%

                > * {
                    display: block
                }
            }

            .value {
                display: inline-block
                color: dark-blue
            }
        }

        .up button, .down button {
            width: 100%
        }

        .up {
            button {
                clear-button()
                icon_cheminot('arrow-left', rgba(#3CB6E3, 0.7), 90deg)
            }
        }

        .down {
            button {
                clear-button()
                icon_cheminot('arrow-left', rgba(#3CB6E3, 0.7), -90deg)
            }
        }
    }
}
