#trip {

    .title {
        position: relative

        > div {
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

            > span {
                white-space: nowrap
            }

            .to {
                icon_cheminot('right', blue)

                &::before {
                    padding: 10px
                }
            }
        }
    }

    #wrapper {
        position: absolute
        left: 50%
        bottom: 0
        overflow: hidden
        transform: translateX(-50%)
    }

    .stops {

        > li {
            display: flex
            align-items: center

            .stop, .at {
                display: inline-block
            }

            .waiting {
                margin-top: 4px
                display: block
            }

            .time {
                text-align: right

                .alarm-clock {
                    padding: 0.3em
                    icon_batch('alarm-clock', grey-dark)
                }

                .at {
                    position: relative
                    color: grey-dark
                    text-align: right
                }
            }

            &:first-child .line:before {
                color: green
            }

            &:last-child .line:before {
                color: orange
            }

            &.changement .line:before {
                color: blue
            }

            .line {
                height: 100%
                position: relative
                padding-left: 20px
                margin-left: 20px

                icon_cheminot('circle', blue)

                &::before {
                    position: absolute
                    left: -0.6em
                    top: 1.1em
                    color: grey
                    background: #FFF
                }
            }

            .stop {
                .name {
                    color: grey-dark
                }

                .waiting {
                    color: grey-light
                }
            }
        }
    }
}
