#trip {

    .top-bar {
        position: relative
        text-align: center

        > div {
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%

            .start, .end {
                white-space: nowrap
                display: inline-block
                text-overflow: ellipsis
                overflow: hidden
            }

            .start {
              padding: 0 size(4px) 0 size(10px)
              text-align: right
            }

            .end {
              padding-left: size(4px)
              text-align: left
            }

            .to {
                icon_cheminot('right', blue)

                &::before {
                    vertical-align: top
                }
            }
        }
    }

    #wrapper {
        position: absolute
        bottom: 0
        overflow: hidden
        width: 100%
    }

    .stops {
        width: 100%

        > li {
            height: size(66px)
            font-size: size(16px)
            position: relative

            .waiting {
                margin-top: size(4px)
                display: block
            }

            &:first-child .right:before {
                color: green
            }

            &:last-child .right:before {
                color: orange
            }

            &.changement .right:before {
                color: blue
            }

            .time, .stop {
                position: absolute
                top: 50%
                transform: translateY(-50%)
            }

            .left, .right {
                position: relative
                width: 44vw
                height: 100%
                display: inline-block
            }

            .right {
                border-left: size(4px) solid dark-blue
                icon_cheminot('circle', grey, size(21px))

                &::before {
                    position: absolute
                    left: -0.6em
                    top: 50%
                    transform: translateY(-50%)
                    background: #FFF
                }
            }

            .time {
                right: 12%

                .alarm-clock {
                    icon_cheminot('clock', grey-dark, size(14px))
                }

                .at {
                    padding-left: size(4px)
                    position: relative
                    color: grey-dark
                }
            }

            .stop {
                left: 12%

                .name {
                    color: grey-dark
                }

                .waiting {
                    color: grey-light
                }
            }
        }
    }
}
