<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="m.cheminot.plugin" version="0.1.0">
  <name>Cheminot</name>

  <description>
    Cheminot is a Cordova plugin which implements Dijkstra'algorythm. It also provides a database interface to a an embed SQLITE database.
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/cheminot.js" name="cheminot">
    <clobbers target="cordova.plugins.Cheminot" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Cheminot">
        <param name="ios-package" value="Cheminot" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <header-file src="src/ios/Cheminot.h" />
    <source-file src="src/ios/Cheminot.mm" />
  </platform>

  <platform name="android">
    <source-file src="src/android/jni" target-dir="." />
    <source-file src="src/android/m.cheminot.plugin/Cheminot.java" target-dir="src/m/cheminot/plugin" />
    <source-file src="src/android/m.cheminot.plugin/CheminotActivity.java" target-dir="src/m/cheminot/plugin" />
    <source-file src="src/android/m.cheminot.plugin/CheminotLib.java" target-dir="src/m/cheminot/plugin/jni" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Cheminot">
        <param name="android-package" value="m.cheminot.plugin.Cheminot" />
      </feature>
    </config-file>
  </platform>

</plugin>
